<%- include('partials/header') %>

<h1>Equipment</h1>
<a href="/muscle">Muscle page!</a>
<p> <%= muscleNameMessage %></p>
<p>
    <% if (equipment) { %>
        <% equipment.forEach(function(i) { %>
            <li>
                <a href="/muscle/<%=muscle%>/<%=i%>"><%= i %></a> 
            </li>
        <% }); %>   
    <% } %> 
    
</p>

<%- include('partials/footer') %>