<%- include('partials/header') %>

<h1>Exercise List for <%= muscle %> with <%= equipment %></h1>
<a href="/muscle/<%= muscle %>">Return to <%= muscle %></a>
<br>
<br>
<% exerciseNames.forEach(function(i) { %>
    <li>
        <%= i %>
    </li>
<% }) %>
<br>
<p>Add Exercise<p>
<form action="/muscle/<%= muscle %>/<%= equipment %>/addExercise" method="POST">
    <input type="text" placeholder="Enter exercise here" name="newExercise" required>
    <input type="submit">
</form>

<%- include('partials/footer') %>